Name=data["Name"]
EmailId=data["EmailId"]
DOB=data["DOB"]
Category=data["Category"]
Mobile =data["Mobile"]
Altmobile=data["Altmobile"]
Address =data["Address"]
FatherName =data["FatherName"]
Foccupation =data["Foccupation"]
Mothersname=data["Mothersname"]
Moccupation=data["Moccupation"]
City=data["City"]
State=data["State"]
Password=data["Password"]
ConfirmPassword=data["ConfirmPassword"]
Image=request.FILES.get("Image")
Branch=data["Branch"]
Resume=request.FILES.get("Resume")
Zip=data["Zip"]
SSCName=data["SSCName"]
BoardName1=data["BoardName1"]
Branch1=data["Branch1"]
Percentage1=data["Percentage1"]
YOP1=data["YOP1"]
HSCName=data["HSCName"]
BoardName2=data["BoardName2"]
Branch2=data["Branch2"]
Percentage2=data["Percentage2"]
YOP1=data["YOP2"]
CollegeName1=data["CollegeName1"]
niversityName1=data["UniversityName1"]
DegreeName1=data["DegreeName1"]
Percentage3=data["Percentage3"]
YOP3=data["YOP3"]

DegreeName2=data["DegreeName2"]
UniversityName2=data["UniversityName2"]
CollegeName2=data["CollegeName2"]
Percentage4=data["Percentage4"]
YOP4=data["YOP4"]

AOI=data["AOI"]
AOS=data["AOS"]
Cert=data["Cert"]
Hobbies=data["Hobbies"]
SpecialA=data["SpecialA"]
ECA=data["ECA"]
None=data["UpdateTime"]